<h1 class="heading-wp">ようこそBookersへ！</h1>
<p class="desc-wp">
  <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や
</p>
<p class="desc-wp">印象を共有し交換することができます</p>
<p class="desc-wp">
  <%= link_to "start", "/books", {class: "nav-link"} %>
</p>